
/************************************
              GENERAL
************************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(#E5DCC3, #9198e5);
  background-repeat: no-repeat;
}

main {
  min-height: calc(100vh - 57.5px * 2);
}

i.user-choice {
  cursor: pointer;
  font-size: 5rem;
}

.score-container {
  padding: 10px;  
}

#score-player, #score-pc {
  text-align: left;
  margin-left: 20px;
}

.game-container h1 {
  margin: 0 0 50px;
}

.game-container {
  margin: 20px 0 0;
  text-align: center;
  padding: 20px 0;
}

.game-container i:nth-child(3) {
  margin: 0 20px;
}

.game-container i:hover {
  transition: all 1s ease-in-out;
  transform: scale(1.4);  
}

#computer-choice, #result {
  margin-top: 50px;
}


footer.main, footer.main a {
  color: #000;
}
footer.main {
  text-align: center;
  margin: 0;
}

footer.main a {
  font-size: 4rem;
  margin: 0 10px;
}

footer.main p {
  font-size: 1rem;
  margin: 0;
}


@media only screen and (min-width: 768px) {
  main {
    min-height: calc(100vh - 57.5px);
  }

  body {
    font-size: 2rem;
  }

  i.user-choice {
    font-size: 10rem;
  }
}

@media only screen and (min-width: 992px) {
  .score-container {
    margin: 0 auto;
    width: 70%;
  }
}
